* {
  box-sizing: border-box;
  background-color: #f0e4d7;
}

.title {
  text-align: center;
}

.game {
  display: flex;
  padding-top: 20px;
  justify-content: space-around;

  .main-table {
    border: 1px solid black;

    tr,
    th {
      height: 20px;
      width: 20px;
      border: 1px solid black;
      color: gray;
    }

    .click__disabled {
      pointer-events: none;
    }

    .cell__live {
      background-color: black;
    }

    .cell__selected {
      background-color: black;
    }
  }
}

.control__container {
  // display: flex;
  justify-content: flex-start;

  .input__form {
    display: inline-block;
    input {
      margin: 0 20px 0 20px;
      width: fit-content;
      border-radius: 5px;
    }
  }

  .btn__submit {
    border-radius: 5px;
  }
}
